h1 {
  background: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg');
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  border: 1px solid black;
  border-radius: 10px;
  height: 100px;
  text-align: center;
  padding: 30px;
}

.brushes {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

.frames {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}

.paint {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

span {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

img {
  border-radius: 25px;
  border: 1px solid black;
}

p {
  font-family: Helvetica;
}
